<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="RemoteServer">
      <service>
        <wellknown type="RemoteObject.MyObject,RemoteObject" objectUri="RemoteObject.MyObject" mode="Singleton" />
      </service>
      <channels>
        <channel ref="tcp" port="9999"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>